html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: $Grayish-Blue;
  text-align: center;

  @include desktop {
    overflow: visible !important;
  }
}

// Container
.container {
  margin: 0 auto;

  @include mobile {
    padding: 0 2.5rem;
  }

  @include tablet {
    padding: 0 4rem;
  }

  @include desktop {
    padding: 0 4rem;
    max-width: 115rem;
  }
}

// Text
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 300;
  color: $Dark-Blue;
}
h1 {
  font-size: 4rem;
  line-height: 4.7rem;

  @include desktop {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 3.8rem;

  @include desktop {
    font-size: 4rem;
    line-height: 6.4rem;
  }
}

h3 {
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;

  @include desktop {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 0.8rem;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  @include desktop {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

small {
  display: block;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

// Buttons
.btn {
  width: 16.3rem;
  height: 4.4rem;
  border-radius: 5rem;
  color: $White;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  background: $Lime-Green;
  background: linear-gradient(
    180deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 100%
  );
  cursor: pointer;
  transition: $transition-speed;

  &:hover {
    opacity: 0.75;
  }
}

// Links
a {
  text-decoration: none;
  color: $Grayish-Blue;
}

// Li
li {
  list-style: none;
}

// Images
.img {
  width: 100%;
  object-fit: cover;
}

// Display
.hide {
  display: none;
}

.show {
  display: block;
}

// Stop scrolling
.no-scroll {
  overflow: hidden;
}
